:root{
    --cor-principal:#ffffff;
    --cor-secumdaria: #c0c0c0;
    --botão-destaque: 
    --cor-de-fundo:
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}
,.principal{

}
.conyainer{
    height: 100vh;
}
.conyainer--botao{
    background-color: var(--botão-destaque);
}